@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

:root {
    --navcolor: #a73737;
    --navcolorclicked: #8b2f2f;
    --pagecolor: indianred;
    --pagecolorclicked: #ab3c3c;
    --textcolor: #484848;
    --navtextcolor: white;
}
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*padding-right: 0px;*/
}

@media (min-width: 620px) {
    main {
        column-count: 2;
        column-gap: 20px;
    }
    .main2 {
        column-count: 1;
        column-gap: 20px;
    }
    section {
        break-inside: avoid;
    }
}
.form-control {
    padding: 8px;
    font-size: 14px;
}
body {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    border-radius: 4px !important;
    color: var(--textcolor);
}
.dropdown-toggle {
    padding-right: 7px !important;
    padding-left: 7px !important;
    /*margin-right: 10px;*/
    height: 24px;
}
.dropdown {
    margin-right: 5px;
    margin-left: 5px;
}

.btn-secondary.nav, .dropdown-toggle, .btn-secondary.page {
    background-color: Transparent;
    border-width: 0px;
    text-decoration: none;
    border-radius: 4px;
    height: 100%;
    color: white !important;
    font-size: 14px;
}
.btn-secondary.page {
    background-color: var(--pagecolor);
}
.btn-secondary.page:not(:disabled):not(.disabled):active {
    background-color: var(--pagecolorclicked);
}

.btn-secondary.nav:hover, .dropdown-toggle:hover {
    background-color: var(--navcolor);
}

.btn-secondary.nav:not(:disabled):not(.disabled):active, .dropdown-toggle:not(:disabled):not(.disabled):active {
    background-color: var(--navcolorclicked);
    /*border-color: #8a95a1*/
}

.btn.nav a, .btn-secondary.nav a, .btn-warning a, .btn-danger a {
    color: var(--navtextcolor) !important;
    text-decoration: none;
}

a.btn-secondary, a.btn-success, a.btn-warning {
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
    text-decoration-line: none;
    /*width: calc(50% - 5px);*/
    width: 100%;
    /*margin-top: 5px;*/
}

/*breadcrumb buttons on overview headers of wineryDetail, user Profile and Taster*/
.btn.btn-outline-secondary.info {
    padding-top: 4px ! important;
    padding-bottom: 4px ! important;
    padding-left: 10px;
    padding-right: 10px;
    margin-top:4px;
}

.btn.btn-outline-secondary.info {
    border-radius: 4px;
    color: var(--textcolor);
    border-color: rgba(0, 0, 0, 0.125);
}
.btn:disabled {
    opacity: 1
}

span.dropdown-item:active {
    background-color: gainsboro;
    color: var(--textcolor)
}
.nav-link.dropdown-toggle {
    min-width:110px;
}
.wrapper {
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    text-align: center;
}
.card-text {
    color: var(--textcolor) !important;
}
