<!doctype html>
<html>

<head>
    <!-- This is the Home Page -->
    <title>Dashboard Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap_litera.min.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap-grid.css') }}">
                <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='default_style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <style type="text/css">
        .title {
            color: var(--greydark)
        }

        section,
        .options {
            background-color: var(--light)
        }

        body {
            font-family: 'Ubuntu', sans-serif;
            font-weight: 300;
        }

        .btn-group {
            float: right;
        }

        .btn-secondary {
            margin-left: 5%;
            padding-top: 2px;
            padding-bottom: 5px;
        }

        .container-flex {
            padding-left: 30px;
            padding-right: 30px;
        }

        .header {
            padding-left: 0px;
            padding-right: 0px;
        }
        .col-2 {
            padding:5px;
        }
    </style>
</head>
<script>
    function insert() {
        var firstname = $("#firstname").val(),
            lastname = $("#lastname").val()
        console.log("Name to insert: " + firstname + " " + lastname)
        $.ajax({
            type: 'GET',
            url: "/api/insert?firstname=" + firstname + "&&lastname=" + lastname,
            success: function(response) {
                console.log("Response from server: " + response);
            }
        });
    }
</script>

<body style="background-color: white">
    <div class="container-flex">
        <h2 class="header">Welcome to Wine Mapper!
            <div class="btn-group">
              <button type="button" class="btn btn-secondary"><a href="/logout" style="color: white; text-decoration: none;"><small>Log Out</small></a>
            </div>
    </h2>
    </div>
    <div class="container-flex">
        <div class="row">
            <div class="col-md-6">
                <section class="bigtitle" style="border-top: 3px solid var(--navy1)">
                    <a href="/map" style="color: var(--darkblue); text-decoration: none;">
                        <h2 class="bigtitle-title" style="background-color: var(--navy1)">Search Wines</h2>
                        <p>Map of wine, soil and climate data paried with sommelier reviews to dig through.</p>
                    </a>
                </section>
            </div>
            <div class="col-md-6">
                <section class="bigtitle" style="border-top: 3px solid var(--teal1)">
                    <a href="/profile" style="color: var(--darkblue); text-decoration: none;">
                        <h2 class="bigtitle-title" style="background-color: var(--teal1);">View Profile</h2>
                        <p>Check out your address and past favorites.</p>
                    </a>
                </section>
            </div>
        </div>
        <div class="row">
            <label for="example-text-input" class="col-2 col-form-label">Add to database: </label>
            <div class="col-3">
                <input class="form-control" type="text" placeholder="(firstname)" id="#firstname">
            </div>
            <div class="col-3">
                <input class="form-control" type="text" placeholder="(lastname)" id="#lastname">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary" style="float: right; margin: 0px; width: 100%" onClick="insert()">Insert</button>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-success" style="float: right; margin: 0px; width: 100%" onClick="insert()">SELECT * (refresh)</button>
            </div>
        </div>
        <div>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Age</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in entries %}
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
