<!doctype html>
<html>

<head>
	<!-- This is the Login Page -->
	<!-- <link rel="stylesheet" type="text/css" href="static/css/logout.css"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/bootstrap_litera.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/default_style.css">
	<!-- https://fonts.google.com/specimen/Dosis -->
	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
	<style>
		a {
			text-decoration-line: none;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active" style="color: white; margin-right: 10px">
				WineMapper
			</li>
		</ul>
		<!-- <ul class="navbar-nav">
			<li class="nav-item">
				<button class="btn-secondary"><a class="nav-link" href="\logout">Log In</a></button>
			</li>
		</ul> -->
	</nav>
	<!-- <h2>CartCombo</h2> -->
	<div class="wrapper">
		<form action="/login_action" method="POST">
			<div class="form-group col-md-12">
				<input type="text" class="form-control" name="username" placeholder="Username" id="inputDefault">
			</div>
			<div class="form-group col-md-12">
				<input type="password" class="form-control" name="password" placeholder="Password" id="inputDefault">
			</div>
			 <div class="form-group col-md-12">
			<input name="submit" type="submit" value="Log In" id="submit" class="btn-secondary page">
		</div>
		<button class="btn-secondary page"><a href="/addUser">New User? Register Here</a></buttom>
		</form>
	</div>
</body>

</html>
