<html>

<head>
	<!-- This is the AddUser Page -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/bootstrap_litera.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/default_style.css">
	<!-- https://fonts.google.com/specimen/Dosis -->
	<link href="https://fonts.googleapis.com/css?family=Dosis:400,700,900" rel="stylesheet">
	<style type="text/css">
		a {
			text-decoration-line: none;
			color: white;
		}
		.wrapper {
			display: block;
			max-width:40%;
		}
		.btn-secondary {
			width: 100%;
			border-radius: 4px;
			padding: 5px;
		}
		.btn-secondary.nav {
			height: initial;
		}
		strong {
			font-weight: 700;
		}
	</style>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active" style="color: white; margin-right: 10px">
				WineMapper&emsp;<strong>New User Account</strong>
			</li>
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item">
				<button class="btn-secondary nav"><a class="nav-link" href="\login">Log In</a></button>
			</li>
		</ul>
	</nav>
	<!-- <a href="/logout" class="btn btn-default topcorner">Logout</a> -->
	<div class="wrapper">
		<form action="{{ url_for('addUserData') }}" method="POST">
			<h3>WineMapper Account Creation</h3>
			<div class="form-group">
				<span><label class="col-form-label" for="inputDefault">Username</label>
					<input type="text" name="username" class="form-control" id="inputDefault" placeholder=""></span>
			</div>

			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="">
			</div>
			<div class="form-group">
				<label for="inputCity">Name</label>
				<input type="text" name="firstname" class="form-control" placeholder="Full name here..." id="inputDefault">
			</div>

			<!-- Address Grid, first line is full address for now, other fields will be used later -->
			<div class="form-group">
				<label for="inputAddress">Address</label>
				<input type="text" name="inputAddress" class="form-control" id="inputAddress" placeholder="1234 Main St, Anytown USA..."/>
			</div>

			<input type="submit" value="Start Exploring" class="btn btn-secondary"/><br>
		</form>
	</div>
</body>

</html>
