<!doctype html>
<html>

	<head>
		<!-- <link rel="stylesheet" type="text/css" href="static/css/logout.css"> -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/bootstrap/bootstrap_litera.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/default_style.css">
		<!-- https://fonts.google.com/specimen/Dosis -->
		<link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
		<style>
		*{
			text-align: left;
			font-family: Dosis;
			font-weight: 300;
		}
		strong {
			font-weight: 700;
		}
		.card {
			margin-top: 15px;
			max-height: calc(100vh - 30px - 24px - 15px)
		}
		#favoritewines {
			min-height: calc(100% - 94px - 15px - 15px);
		}

		#favoritewines .card-body  {
			padding: 7px;
		}
		.card-body {
			overflow: auto;
		}
		a.btn.btn-secondary {
			border-radius: 2px;
			padding: 2px;
			width: 100%;
			text-decoration: none;
		}
		</style>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-dark">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active" style="color: white; margin-right: 10px">
					WineMapper&emsp;<strong>Your Favorites:</strong>
				</li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item">
					<button class="btn-secondary nav"><a href="/">Back to Map</a></button>
				</li>
				<li class="nav-item">
					<button class="btn-secondary nav">
					{% if uid > 0 %}
					<a class="nav-link" href="\logout">Log Out</a>
					{% else %}
					<a class="nav-link" href="\login">Log In</a>
					{% endif %}
					</button>
				</li>
			</ul>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card left">
						<h6 class="card-header">Here's your overview, {{userName}}</h6>
						<div class="card-body" style="padding:7px;">
							<button type="button" class="btn btn-outline-secondary info" disabled><strong>Number of favorite wines: </strong>{{count}}<br></button>
							{% if wineries %}
							<button type="button" class="btn btn-outline-secondary info" disabled><strong>Most Favorited Wineries: </strong>
								{% for winery in wineries %}
								<span><a href="/api/wineryDetail?id={{winery[0]}}">{{winery[1]}}</a></span>
							{% endfor %}
						</button>
							{% endif %}
							{% if varieties %}
							<button type="button" class="btn btn-outline-secondary info" disabled><strong>Most Favorited Varieties: </strong>
							{% for variety in varieties %}
								<span>{{variety[0]}}</span>
							{% endfor %}</button>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			{% if count > 0 %}
			<div class="row">
				<div class="col-md-12">
					<div class="card middle" id="favoritewines">
						<h6 class="card-header">Favorited Wines </h6>
						<div class="card-body">
							{% for favorite in favorites %}
							<div class="card" style="max-width:30%; display: inline-block;">
								<div class="card-body">
									<div style="min-height:3rem"><h7 class="card-title"><strong>{{favorite[1]}}</strong></h7></div>
									<div class="card-text">
										{% if favorite[2] %}
										<h8><strong>Variety: </strong>{{favorite[2]}}</h8><br>
										{% endif %}
										<h8><strong>Winery: </strong>{{favorite[3]}}</h8><br>
										<h8><strong>Country: </strong>{{favorite[4]}}</h8>
										<a href="/api/wineDetail?id='{{favorite[0]}}'" class='btn btn-secondary'>Read Reviews</a>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</body>
</html>
